<div class="container py-4">
  <div class="card shadow mt-4">
    <div class="card-header">
      <h5 class="mb-0">Политика конфиденциальности</h5>
    </div>
    <div class="card-body">
      Политика конфиденциальности — это заявление или юридический документ (в
      рамках законодательства о конфиденциальности), в котором раскрываются
      некоторые или все способы, с помощью которых сторона собирает, использует,
      раскрывает и обрабатывает данные, в то время как уведомление о
      конфиденциальности информирует клиентов или субъектов данных о том, какие
      данные хранятся в организации и как они будут обрабатываться. Персональные
      данные — это любая информация, которая может быть использована для
      идентификации физического лица, включая, помимо прочего, имя, адрес, дату
      рождения, семейное положение, контактную информацию, номер удостоверения
      личности и срок его действия, финансовые отчеты, кредитную информацию,
      историю болезни, информацию о поездках и намерениях приобрести товары и
      услуги. В случае с бизнесом это часто заявление, в котором указывается
      политика компании в отношении сбора, хранения и предоставления
      персональных данных. В нем сообщается клиенту, какая именно информация
      собирается и сохраняется ли она в тайне, передается ли партнерам или
      продается другим фирмам или предприятиям. Политика конфиденциальности
      обычно представляет собой более широкое и обобщенное описание, в отличие
      от заявлений об использовании данных, которые, как правило, более подробны
      и конкретны. Точное содержание политики конфиденциальности зависит от
      применимого законодательства и может включать требования, действующие в
      разных географических регионах и правовых юрисдикциях. В большинстве стран
      есть собственное законодательство и правила, определяющие, кто подпадает
      под их действие, какая информация может собираться и для чего она может
      использоваться. Как правило, законы о защите данных в Европе
      распространяются как на частный, так и на государственный сектор. Их
      законы о конфиденциальности применяются не только к государственным
      органам, но и к частным предприятиям и коммерческим сделкам.
    </div>
  </div>
</div>
